.App {
  text-align: center;
  position:relative;
}
#number {
  width: 5%;
  margin-left: 20vw;
  height: 5vh;
  margin-bottom: 2vh;
  background-color: #1dc030;
}
#numberOfInput {
  width: 70%;
  height: 5vh;
  font-size: 17px;
  margin-bottom: 4vh;
}
#generateNumber {
  width: 60%;
  height: 7vh;
  margin-bottom: 4vh;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #1dc030;
}
#oddbutton {
  width: 12vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #1dc030;
}
#evenbutton {
  width: 12vw;
  margin-left: 20vw;
  height: 6vh;
  margin-bottom: 2vh;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #1dc030;
}
#box {
  height: 5vh;
  width: 10vw;
  display: inline;
  margin-left: 20px;
  text-align: center;
  padding: 1vw;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  background-color: #1f8144;
}
#buttonContainer {
  margin-top: 5vw;
}
#output {
  margin-top: 20px;
  display: none;
}